;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {3000 "public"}
 :dependencies
 [[ org.clojure/core.async "1.3.610"]
  [prismatic/schema "1.4.1"]
  [brute/brute "0.4.0"]]

 :builds
 {:app {:target :browser
        :compiler-options {:output-feature-set :es5}
        :output-dir "public/assets/app/js"
        :asset-path "/assets/app/js"
        :modules {:main {:entries [game.core]}}}}}


